/*
 *This file contains some common styles used on the app
 */
@import './common/index';
@import './font';

* {
  box-sizing: border-box;
  outline: none;
}

html {
  background: #fff;
}

html,
body {
  display: block;
  position: relative;
  max-width: 100vw;
  min-height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  color: $primaryTextColor;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: 'Helvetica', 'Arial', sans-serif;
  //font-display: swap; // testing
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  &,
  input,
  button {
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
}

// These elements need sometimes to have the font defined to avoid browser's default one
input,
button {
  font-size: 16px;
}

a {
  color: $primaryColor;
  text-decoration: none;
  cursor: pointer;
  transition: color 200ms;
  &:hover {
    color: $primaryLightColor;
  }
}

.Layout .Layout-content {
  min-height: 560px;
}

html:not(.js) {
  padding-top: 30px;
  @media (max-width: $breakpoint-mobile) {
    padding-top: 40px;
  }
}
.No-JS-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5050;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
  color: #fff;
  background-color: #ae0000;
  padding: 5px;
}
