/*
 *This file contains some common styles used on the app
 */
@import './common/index';
@import './font';

* {
  box-sizing: border-box;
  outline: none;
}

html {
  background: #fff;
}

html,
body {
  display: block;
  position: relative;
  min-height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  color: $primaryTextColor;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
}

a {
  color: $primaryColor;
  text-decoration: none;
  cursor: pointer;
  transition: color 200ms;
  &:hover {
    color: $primaryLightColor;
  }
}

.Layout .Layout-content {
  min-height: 500px;
}
