.AnimOnScroll {
  display: block !important;
  &.is-node {
    display: none !important;
  }
}

html.js .hideSSR {
  display: none;
}

// Some example animations
.ExampleAnim .AnimOnScroll {
  .ExampleAnim-container {
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 1250ms 750ms;
  }

  &.in-view {
    .ExampleAnim-container {
      transform: scaleX(1);
    }
  }
}
