@import '../Layout/common/colors';

.Button {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  min-height: 62px;
  min-width: 184px;
  background-color: $primaryColor;
}
